header{
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

header h1{
    font-size: 1.5rem;
}
.searchDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.searchDiv input[type=search]{
    width: 90%;
    max-width: 500px;
    padding: 15px 20px;
    border: 1.5px solid #aaa;
    border-radius: 5px;
    outline: none;
    transition: 200ms border-color;
    font-size: 0.85rem;
}
.searchDiv input[type=search]:focus{
    border-color: var(--leetcode-color);
}

.midDiv{
    display: flex;
    justify-content: center;

}

.endDiv{
    margin: 50px 0;
    padding: 20px;
}

.endDiv .mainImage{
    width: 70%;
    max-width: 250px;
    display: block;
    margin: auto;
}

.endDiv p{
    margin: 50px 30px;
    color: #555;
    font-size: 0.8rem;
    /* margin-top: 50px; */
}
pre[class*="language-"] code{
	font-size: 0.9em;
}

.code{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.code .allCodes{
    width: 100%;
    max-width: 700px;
}

.code .allCodes .err {
    text-align: center;
    color: tomato;
    margin: 15px 0;
    padding: 10px 20px;
    background-color: #ff634710;
    border-radius: 5px;
    font-size: 0.8em;
}
.code .codeName{
    width: 100%;
    background-color: rebeccapurple;
    height: 100px;
}


.code-txt{
    background-color: #1c2027;
    width: auto;
    height: auto;
    width: 100%;
    max-width: 700px;
    border-radius: 5px;
    font-size: 0.9em;
    margin: 10px 0;
}

@media only screen and (max-width: 900px) {
    pre[class*="language-"] code{
        font-size: 0.85em;
    }
}